# –ü—Ä–æ–≥–Ω–æ–∑–∏—Ä–æ–≤–∞–Ω–∏–µ. –ú–æ–¥–µ–ª–∏.

> üöÄ –í —ç—Ç–æ–π –ø—Ä–∞–∫—Ç–∏–∫–µ –Ω–∞–º –ø–æ–Ω–∞–¥–æ–±—è—Ç—Å—è: `etna==2.10.0, numpy==1.26.4, pandas==1.5.3, matplotlib==3.10.3, seaborn==0.13.2, lightgbm==4.6.0, prophet==1.1.6` 

> üöÄ –£—Å—Ç–∞–Ω–æ–≤–∏—Ç—å –≤—ã –∏—Ö –º–æ–∂–µ—Ç–µ —Å –ø–æ–º–æ—â—å—é –∫–æ–º–∞–Ω–¥—ã: `%pip install etna==2.10.0 numpy==1.26.4 pandas==1.5.3 matplotlib==3.10.3 seaborn==0.13.2 lightgbm==4.6.0 prophet==1.1.6`

## –°–æ–¥–µ—Ä–∂–∞–Ω–∏–µ

* [–ó–∞–≥—Ä—É–∑–∫–∞ –≤—ã–±–æ—Ä–æ–∫](#–ó–∞–≥—Ä—É–∑–∫–∞-–≤—ã–±–æ—Ä–æ–∫)
* [–°—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏–µ –º–æ–¥–µ–ª–∏](#–°—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏–µ-–º–æ–¥–µ–ª–∏)
* [–ú–æ–¥–µ–ª–∏ —Ä–µ–≥—Ä–µ—Å—Å–æ—Ä—ã](#–ú–æ–¥–µ–ª–∏-—Ä–µ–≥—Ä–µ—Å—Å–æ—Ä—ã)
  * [–ì–µ–Ω–µ—Ä–∞—Ü–∏—è –ø—Ä–∏–∑–Ω–∞–∫–æ–≤](#–ì–µ–Ω–µ—Ä–∞—Ü–∏—è-–ø—Ä–∏–∑–Ω–∞–∫–æ–≤)
  * [–õ–∏–Ω–µ–π–Ω–∞—è —Ä–µ–≥—Ä–µ—Å—Å–∏—è](#–õ–∏–Ω–µ–π–Ω–∞—è-—Ä–µ–≥—Ä–µ—Å—Å–∏—è)
  * [LGBM : –ë—É—Å—Ç–∏–Ω–≥](#LGBM-:-–ë—É—Å—Ç–∏–Ω–≥)
* [–ó–∞–∫–ª—é—á–µ–Ω–∏–µ](#–ó–∞–∫–ª—é—á–µ–Ω–∏–µ)
* [–í–æ–ø—Ä–æ—Å—ã –¥–ª—è –∑–∞–∫—Ä–µ–ø–ª–µ–Ω–∏—è](#–í–æ–ø—Ä–æ—Å—ã-–¥–ª—è-–∑–∞–∫—Ä–µ–ø–ª–µ–Ω–∏—è)

–ü—Ä–∏–≤–µ—Ç! –í –ø—Ä–µ–¥—ã–¥—É—â–µ–º –Ω–æ—É—Ç–±—É–∫–µ –º—ã –ø–æ–¥–≥–æ—Ç–æ–≤–∏–ª–∏ –≤—ã–±–æ—Ä–∫–∏, –Ω–∞ –∫–æ—Ç–æ—Ä—ã—Ö —Ç–µ–ø–µ—Ä—å –±—É–¥–µ–º —É—á–∏—Ç—å –∏ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞—Ç—å –º–æ–¥–µ–ª–∏.

In [227]:
from datetime import date, timedelta
from pathlib import Path

import warnings
warnings.filterwarnings("ignore")

import ipywidgets as widgets
from matplotlib import pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")

from etna.datasets.tsdataset import TSDataset
from etna.models import HoltWintersModel
from etna.pipeline import Pipeline

import numpy as np 
import pandas as pd 

from lightgbm import LGBMRegressor
from sklearn.linear_model import LinearRegression
from prophet.make_holidays import make_holidays_df

## –ó–∞–≥—Ä—É–∑–∫–∞ –≤—ã–±–æ—Ä–æ–∫

–î–ª—è –Ω–∞—á–∞–ª–∞ –∑–∞–≥—Ä—É–∑–∏–º —Ä–∞–Ω–µ–µ –ø–æ–¥–≥–æ—Ç–æ–≤–ª–µ–Ω–Ω—ã–µ –≤—ã–±–æ—Ä–∫–∏.

In [228]:
dpath = Path().cwd() / "ts_datasets"

train_fpath = dpath / "train.csv"
train_df = pd.read_csv(train_fpath, parse_dates=["timestamp"], index_col=0)

test_fpath = dpath / "test.csv"
test_df = pd.read_csv(test_fpath, parse_dates=["timestamp"], index_col=0)

train_df.shape, test_df.shape

((222288, 5), (2728, 5))

–í –¥–∞–ª—å–Ω–µ–π—à–µ–º –Ω–∞–º —Ç–∞–∫–∂–µ –ø–æ–Ω–∞–¥–æ–±–∏—Ç—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ: 
- –≥–æ—Ä–∏–∑–æ–Ω—Ç–µ –ø—Ä–æ–≥–Ω–æ–∑–∏—Ä–æ–≤–∞–Ω–∏—è (–≤ –Ω–∞—à–µ–º —Å–ª—É—á–∞–µ —Ö–æ—Ç–∏–º –Ω–∞ 31 –¥–µ–Ω—å);
- –¥–∞—Ç–∞ —Ä–∞–∑–¥–µ–ª–µ–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö (1 –¥–µ–∫–∞–±—Ä—è 2016–≥).

–í—ã–Ω–µ—Å–µ–º –∏—Ö –≤ –æ—Ç–¥–µ–ª—å–Ω—ã–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ, —á—Ç–æ–±—ã –º–µ–Ω—å—à–µ —Ö–∞—Ä–¥–∫–æ–¥–∏—Ç—å.

In [229]:
HORIZON = 31
SPLIT_DATE = date(2016, 12, 1)

## –°—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏–µ –º–æ–¥–µ–ª–∏

–ù–∞—á–Ω—ë–º —Å–æ —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏—Ö –º–æ–¥–µ–ª–µ–π. –¢–∞–∫–∏–º –º–æ–¥–µ–ª—è–º –ø–æ —Å—É—Ç–∏ –Ω–µ –Ω—É–∂–Ω–æ –æ–±—É—á–µ–Ω–∏–µ, —Ç.–∫. –æ–Ω–∏ –∏—Å–ø–æ–ª—å–∑—É—é—Ç —á–∏—Å—Ç–æ —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏–µ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏, –Ω–∞ –±–∞–∑–µ –∫–æ—Ç–æ—Ä—ã—Ö –≥–µ–Ω–µ—Ä–∏—Ä—É—é—Ç –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è –≤ –±—É–¥—É—â–µ–µ. 

–í —ç—Ç–æ—Ç —Ä–∞–∑ –º—ã –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –º–æ–¥–µ–ª—å –•–æ–ª—å—Ç–∞-–£–∏–Ω—Ç–µ—Ä—Å–∞. –ó–≤—É—á–∏—Ç –ø–∞—Ñ–æ—Å–Ω–æ, –Ω–æ –ø–æ–¥ –∫—Ä–∞—Å–∏–≤—ã–º –Ω–∞–∑–≤–∞–Ω–∏—è–º —Å–∫—Ä—ã–≤–∞–µ—Ç—Å—è —ç–∫—Å–ø–æ–Ω–µ–Ω—Ü–∏–∞–ª—å–Ω–æ–µ —Å–≥–ª–∞–∂–∏–≤–∞–Ω–∏–µ. 

–≠—Ç–∞ –º–æ–¥–µ–ª—å —É–∂–µ –µ—Å—Ç—å –≤ ETNA, –¥–∞–≤–∞–π—Ç–µ –µ—é –∏ –≤–æ—Å–ø–æ–ª—å–∑—É–µ–º—Å—è.

–¢–∞–∫ –∫–∞–∫ —Ä–∞–±–æ—Ç–∞–µ–º —Å ETNA, —Å–Ω–æ–≤–∞ –∫–æ–Ω–≤–µ—Ä—Ç–∏—Ä—É–µ–º —Ç–∞–±–ª–∏—Ü—ã –≤ ETNA-–¥–∞—Ç–∞—Å–µ—Ç—ã –∏ –∏–º–∏—Ç–∏—Ä—É–µ–º `segment` –¥–ª—è –Ω–∞—à–µ–≥–æ –≤—Ä–µ–º–µ–Ω–Ω–æ–≥–æ —Ä—è–¥–∞. –°–¥–µ–ª–∞–µ–º —ç—Ç–æ –∫–∞–∫ –≤ –æ–±—É—á–∞—é—â–µ–π –≤—ã–±–æ—Ä–∫–µ, —Ç–∞–∫ –∏ –≤ —Ç–µ—Å—Ç–æ–≤–æ–π.

In [230]:
train_ts_df = train_df.copy(deep=True)
test_ts_df = test_df.copy(deep=True)

In [231]:
# TODO - –¥–æ–±–∞–≤—å—Ç–µ –∫–æ–ª–æ–Ω–∫—É segment –≤ –æ–±—É—á–∞—é—â—É—é –∏ —Ç–µ—Å—Ç–æ–≤—É—é –≤—ã–±–æ—Ä–∫–∏
#    –æ–±—ä–¥–∏–Ω–∏—Ç–µ –∫–æ–ª–æ–Ω–∫–∏ country, store –∏ product —á–µ—Ä–µ–∑ –Ω–∏–∂–Ω–µ–µ –ø–æ–¥—á—ë—Ä–∫–∏–≤–∞–Ω–∏–µ (_)
train_ts_df["segment"] = train_ts_df["country"] + "_" + train_ts_df["store"] + "_" + train_ts_df["product"]
test_ts_df["segment"] = test_ts_df["country"] + "_" + test_ts_df["store"] + "_" + test_ts_df["product"]

assert "segment" in train_ts_df.columns, "–ö–æ–ª–æ–Ω–∫–∞ `segment` –Ω–µ –Ω–∞–π–¥–µ–Ω–∞"
assert "segment" in test_ts_df.columns, "–ö–æ–ª–æ–Ω–∫–∞ `segment` –Ω–µ –Ω–∞–π–¥–µ–Ω–∞"

print("–¢–µ—Å—Ç—ã –ø—Ä–æ—à–ª–∏! –í—Å—ë —Ö–æ—Ä–æ—à–æ!")

–¢–µ—Å—Ç—ã –ø—Ä–æ—à–ª–∏! –í—Å—ë —Ö–æ—Ä–æ—à–æ!

In [232]:
assert "segment" in train_ts_df.columns, "–ö–æ–ª–æ–Ω–∫–∞ `segment` –Ω–µ –Ω–∞–π–¥–µ–Ω–∞"
assert "segment" in test_ts_df.columns, "–ö–æ–ª–æ–Ω–∫–∞ `segment` –Ω–µ –Ω–∞–π–¥–µ–Ω–∞"

print("–¢–µ—Å—Ç—ã –ø—Ä–æ—à–ª–∏! –í—Å—ë —Ö–æ—Ä–æ—à–æ!")

–¢–µ—Å—Ç—ã –ø—Ä–æ—à–ª–∏! –í—Å—ë —Ö–æ—Ä–æ—à–æ!

In [233]:
# TODO - —É–¥–∞–ª–∏—Ç–µ –∫–æ–ª–æ–Ω–∫–∏ country, store –∏ product
train_ts_df = train_ts_df.drop(columns=["country", "store", "product"])
test_ts_df = test_ts_df.drop(columns=["country", "store", "product"])

train_cols = train_ts_df.columns
test_cols = test_ts_df.columns

for col_name in ["country", "store", "product"]:
    assert col_name not in train_cols, f"–í –æ–±—É—á–∞—é—â–µ–π –≤—ã–±–æ—Ä–∫–µ –≤—Å—ë –µ—â—ë –µ—Å—Ç—å –∫–æ–ª–æ–Ω–∫–∞ {col_name}"
    assert col_name not in test_cols, f"–í —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–∫–µ –≤—Å—ë –µ—â—ë –µ—Å—Ç—å –∫–æ–ª–æ–Ω–∫–∞ {col_name}"

print("–¢–µ—Å—Ç—ã –ø—Ä–æ—à–ª–∏! –í—Å—ë —Ö–æ—Ä–æ—à–æ!")

–¢–µ—Å—Ç—ã –ø—Ä–æ—à–ª–∏! –í—Å—ë —Ö–æ—Ä–æ—à–æ!

In [234]:
train_cols = train_ts_df.columns
test_cols = test_ts_df.columns 

for col_name in ["country", "store", "product"]:
    assert col_name not in train_cols, f"–í –æ–±—É—á–∞—é—â–µ–π –≤—ã–±–æ—Ä–∫–µ –≤—Å—ë –µ—â—ë –µ—Å—Ç—å –∫–æ–ª–æ–Ω–∫–∞ {col_name}"
    assert col_name not in test_cols, f"–í —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–∫–µ –≤—Å—ë –µ—â—ë –µ—Å—Ç—å –∫–æ–ª–æ–Ω–∫–∞ {col_name}"

print("–¢–µ—Å—Ç—ã –ø—Ä–æ—à–ª–∏! –í—Å—ë —Ö–æ—Ä–æ—à–æ!")

–¢–µ—Å—Ç—ã –ø—Ä–æ—à–ª–∏! –í—Å—ë —Ö–æ—Ä–æ—à–æ!

In [ ]:
import pandas as pd
from etna.datasets.tsdataset import TSDataset


train_df["segment"] = train_df["country"] + "_" + train_df["store"] + "_" + train_df["product"]
test_df["segment"] = test_df["country"] + "_" + test_df["store"] + "_" + test_df["product"]


assert "segment" in train_df.columns, "train_df Áº∫Â∞ë segment Âàó"
assert "segment" in test_df.columns, "test_df Áº∫Â∞ë segment Âàó"



required_cols = ["timestamp", "segment", "target"]
assert all(col in train_df.columns for col in required_cols), "train_df Áº∫Â∞ëÂøÖË¶ÅÂàó"
assert all(col in test_df.columns for col in required_cols), "test_df Áº∫Â∞ëÂøÖË¶ÅÂàó"


train_wide_df = TSDataset.to_dataset(train_df)  
test_wide_df = TSDataset.to_dataset(test_df)


train_ts_df = TSDataset(df=train_wide_df, freq="D")
test_ts_df = TSDataset(df=test_wide_df, freq="D")



assert isinstance(train_ts_df, TSDataset), f"–ù–µ–≤–µ—Ä–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö: {type(train_ts_df)}"
assert isinstance(test_ts_df, TSDataset), f"–ù–µ–≤–µ—Ä–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö: {type(test_ts_df)}"

print("–¢–µ—Å—Ç—ã –ø—Ä–æ—à–ª–∏! –í—Å—ë —Ö–æ—Ä–æ—à–æ!")

–¢–µ—Å—Ç—ã –ø—Ä–æ—à–ª–∏! –í—Å—ë —Ö–æ—Ä–æ—à–æ!

In [236]:
assert isinstance(train_ts_df, TSDataset), f"–ù–µ–≤–µ—Ä–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö: {type(train_ts_df)}"
assert isinstance(test_ts_df, TSDataset), f"–ù–µ–≤–µ—Ä–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö: {type(test_ts_df)}"

print("–¢–µ—Å—Ç—ã –ø—Ä–æ—à–ª–∏! –í—Å—ë —Ö–æ—Ä–æ—à–æ!")

–¢–µ—Å—Ç—ã –ø—Ä–æ—à–ª–∏! –í—Å—ë —Ö–æ—Ä–æ—à–æ!

–î–∞—Ç–∞—Å–µ—Ç—ã —Å–∫–æ–Ω–≤–µ—Ä—Ç–∏—Ä–æ–≤–∞–Ω—ã, –º–æ–∂–Ω–æ "—É—á–∏—Ç—å" –º–æ–¥–µ–ª—å. 

–ù–æ –Ω–∞ –ø–æ–≤–µ—Ä—Ö–Ω–æ—Å—Ç–∏ –ª–µ–∂–∏—Ç –≤–æ–ø—Ä–æ—Å: "–ê –Ω–∞ —á—ë–º —É—á–∏—Ç—å, –µ—Å–ª–∏ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤-—Ç–æ –Ω–µ—Ç?". –ò —ç—Ç–æ —Ö–æ—Ä–æ—à–∏–π –≤–æ–ø—Ä–æ—Å. ETNA –ø–æ–∑–≤–æ–ª—è–µ—Ç —Å–≥–µ–Ω–µ—Ä–∏—Ä–æ–≤–∞—Ç—å —Ñ–∏—á–∏ –ø—Ä—è–º–æ —á–µ—Ä–µ–∑ –∏–Ω—Ç–µ—Ä—Ñ–µ–π—Å –æ–±—É—á–µ–Ω–∏—è –º–æ–¥–µ–ª–∏.

–í –Ω–∞—à–µ–º —Å–ª—É—á–∞–µ –¥–æ–±–∞–≤–∏–º: 
- –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ —Ç—Ä–µ–Ω–¥–µ –≤ –¥–∞–Ω–Ω—ã—Ö;
- –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ —Å–µ–∑–æ–Ω–Ω–æ–π —Å–æ—Å—Ç–∞–≤–ª—è—é—â–µ–π.

<details>
    <summary>ü§ì –ù–∞–ø–æ–º–∏–Ω–∞–ª–∫–∞ –ø—Ä–æ —Ç—Ä–µ–Ω–¥—ã –∏ —Å–µ–∑–æ–Ω–Ω–æ—Å—Ç—å [–ù–∞–∂–º–∏ –Ω–∞ –º–µ–Ω—è]</summary>

**–¢—Ä–µ–Ω–¥** - —ç—Ç–æ –∫–∞–∫–∞—è-—Ç–æ –æ–±—â–∞—è –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å, —Ö–∞—Ä–∞–∫—Ç–µ—Ä–Ω–∞—è –¥–ª—è –≤—Å–µ–≥–æ —Ä—è–¥–∞ —Ü–µ–ª–∏–∫–æ–º. **–°–µ–∑–æ–Ω–Ω–æ—Å—Ç—å** - —ç—Ç–æ –ø–µ—Ä–∏–æ–¥–∏—á–µ—Å–∫–∏ –ø–æ–≤—Ç–æ—Ä—è—é—â–∞—è—Å—è –∫–æ–º–ø–æ–Ω–µ–Ω—Ç–∞. –û–±–µ —ç—Ç–∏ —Å–æ—Å—Ç–∞–≤–ª—è—é—â–∏–µ —á–∞—Å—Ç–æ –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É—é—Ç –≤ —Ä—è–¥–µ –æ–¥–Ω–æ–≤—Ä–µ–º–µ–Ω–Ω–æ. 

</details>

In [237]:
model = HoltWintersModel(
    trend="add", 
    seasonal="add", 
    seasonal_periods=7,
)
pipeline = Pipeline(model=model, horizon=HORIZON)

pipeline.fit(train_ts_df)

Pipeline(model = HoltWintersModel(trend = 'add', damped_trend = False, seasonal = 'add', seasonal_periods = 7, initialization_method = 'estimated', initial_level = None, initial_trend = None, initial_seasonal = None, use_boxcox = False, bounds = None, dates = None, freq = None, missing = 'none', smoothing_level = None, smoothing_trend = None, smoothing_seasonal = None, damping_trend = None, ), transforms = (), horizon = 31, )

–ú–æ–¥–µ–ª—å –æ–±—É—á–∏–ª–∏, —Ç–µ–ø–µ—Ä—å –º–æ–∂–Ω–æ –∏ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è –ø–æ–ª—É—á–∏—Ç—å. 

–ù–µ–º–Ω–æ–≥–æ –ø–æ–∏–≥—Ä–∞–µ–º—Å—è —Å –ø–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–æ–∫, —á—Ç–æ–±—ã –¥–∞–ª—å—à–µ –±—ã–ª–æ —É–¥–æ–±–Ω–µ–µ —Å—á–∏—Ç–∞—Ç—å –º–µ—Ç—Ä–∏–∫–∏

In [238]:
# –ø–æ–ª—É—á–∞–µ–º –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è 
ts_forecast_df = pipeline.forecast()

# –≤ —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–∫–µ —Ü–µ–ª–µ–≤—É—é –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é –ø–µ—Ä–µ–∏–º–µ–Ω—É–µ–º –≤ y_test (—ç—Ç–æ true –∑–Ω–∞—á–µ–Ω–∏—è)
forecast_test_df = test_ts_df.to_pandas(flatten=True).rename(columns={"target": "y_test"})

# –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ —Å –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è —Ü–µ–ª–µ–≤—É—é –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é –ø–µ—Ä–µ–∏–º–µ–Ω—É–µ–º –≤ y_pred (—ç—Ç–æ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è)
forecast_df = ts_forecast_df.to_pandas(flatten=True).rename(columns={"target": "y_pred"})

# —Å–ª–µ–ø–∏–º —Ç–∞–±–ª–∏—Ü—ã, —á—Ç–æ–±—ã –ø–æ–ª—É—á–∏—Ç—å –æ–±—â–∏–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã
hotl_winters_predictions = forecast_test_df.merge(
    forecast_df, 
    on=["timestamp", "segment"], 
    how="outer"
)

# —Ä–∞–∑–¥–µ–ª—è–µ–º segment –æ–±—Ä–∞—Ç–Ω–æ –Ω–∞ 3 —Å–æ—Å—Ç–∞–≤–ª—è—é—â–∏–µ 
hotl_winters_predictions["country"] = hotl_winters_predictions["segment"].str.split("_").str[0]
hotl_winters_predictions["store"] = hotl_winters_predictions["segment"].str.split("_").str[1]
hotl_winters_predictions["product"] = hotl_winters_predictions["segment"].str.split("_").str[2]
hotl_winters_predictions = hotl_winters_predictions.drop(columns=["segment"])

# –æ–∫—Ä—É–≥–ª—è–µ–º –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è –æ—Ç –º–æ–¥–µ–ª–∏, —Ç.–∫. –ø—Ä–æ–¥–∞–≤–∞—Ç—å —á–∞—Å—Ç—å –ø—ã—à–∫–∏ - –Ω–µ –≤–∞—Ä–∏–∞–Ω—Ç 
hotl_winters_predictions["y_pred"] = np.ceil(hotl_winters_predictions["y_pred"])#.astype(int)

hotl_winters_predictions.head()

,timestamp,y_test,country_x,product_x,store_x,y_pred,country_y,product_y,store_y,country,store,product
0,2016-12-01,NaN,Canada,Chocolate,Donots,215.0,NaN,NaN,NaN,Canada,Donots,Chocolate
1,2016-12-02,212.0,Canada,Chocolate,Donots,219.0,NaN,NaN,NaN,Canada,Donots,Chocolate
2,2016-12-03,210.0,Canada,Chocolate,Donots,213.0,NaN,NaN,NaN,Canada,Donots,Chocolate
3,2016-12-04,231.0,Canada,Chocolate,Donots,233.0,NaN,NaN,NaN,Canada,Donots,Chocolate
4,2016-12-05,NaN,Canada,Chocolate,Donots,215.0,NaN,NaN,NaN,Canada,Donots,Chocolate

In [239]:
hotl_winters_predictions.shape

(2728, 12)

–û—Ç—Ä–∏—Å—É–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è –≤ —Å—Ä–∞–≤–Ω–µ–Ω–∏–∏ —Å –∏—Å—Ç–∏–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –Ω–∞ –≥—Ä–∞—Ñ–∏–∫–µ.

In [240]:
@widgets.interact(
    country=widgets.Dropdown(options=hotl_winters_predictions["country"].unique()),
    store=widgets.Dropdown(options=hotl_winters_predictions["store"].unique()),
    products=widgets.Dropdown(options=hotl_winters_predictions["product"].unique()),
    start_date=widgets.DatePicker(value=hotl_winters_predictions["timestamp"].min()),
)
def show_holt_winters_predictions(country: str, store: str, products: str, start_date: date):
    start_date = pd.Timestamp(start_date)
    plot_df = hotl_winters_predictions[
        (hotl_winters_predictions["country"] == country)
        & (hotl_winters_predictions["store"] == store)
        & (hotl_winters_predictions["product"] == products)
        & (hotl_winters_predictions["timestamp"].dt.date >= start_date.date())
    ]

    fig, axs = plt.subplots(nrows=1, ncols=1, figsize=(15, 4))

    axs.plot(plot_df["timestamp"], plot_df["y_pred"], marker="o", label="pred")
    # —É–±–µ—Ä—ë–º –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, —á—Ç–æ–±—ã —Ç–æ—á–∫–∏ —Å–æ–µ–¥–∏–Ω–∏–ª–∏—Å—å –º–µ–∂–¥—É —Å–æ–±–æ–π - –≤–æ –∏–º—è —Å—É–±—ä–∫—Ç–∏–≤–Ω–æ–≥–æ –ø—Ä–µ–∫—Ä–∞—Å–Ω–æ–≥–æ 
    plot_df = plot_df.dropna()
    axs.plot(plot_df["timestamp"], plot_df["y_test"], marker="o", label="true")
    axs.set_xlabel("–î–∞—Ç–∞")
    axs.set_ylabel("–ö–æ–ª-–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –ø—ã—à–µ–∫")
    axs.legend()

    plt.show()

interactive(children=(Dropdown(description='country', options=('Canada', 'Finland', 'Italy', 'Kenya', 'Norway'‚Ä¶

–ß—Ç–æ–±—ã –Ω–µ –ø–æ—Ç–µ—Ä—è—Ç—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã —Ä–∞–±–æ—Ç—ã –º–æ–¥–µ–ª–∏, —Å–æ—Ö—Ä–∞–Ω–∏–º –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è –≤ —Ñ–∞–π–ª.

In [241]:
pred_dpath = Path("forecast_predictions")
pred_dpath.mkdir(parents=True, exist_ok=True)

pred_fpath = pred_dpath / "holt_winters_predictions.csv"
hotl_winters_predictions.to_csv(pred_fpath)

## –ú–æ–¥–µ–ª–∏ —Ä–µ–≥—Ä–µ—Å—Å–æ—Ä—ã

–î–ª—è –ø—Ä–æ–≥–Ω–æ–∑–∏—Ä–æ–≤–∞–Ω–∏—è –º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ç–µ –∂–µ –º–æ–¥–µ–ª–∏, —á—Ç–æ –∏ –≤ "—Å—ã—Ä–æ–π" —Ä–µ–≥—Ä–µ—Å—Å–∏–∏. –ù–∞–ø—Ä–∏–º–µ—Ä, –ª–∏–Ω–µ–π–Ω—É—é —Ä–µ–≥—Ä–µ—Å—Å–∏—é –∏–ª–∏ LGBM. –ò—Ö –º—ã –∏ –ø–æ–≤–∞—Ä–∏–º –¥–ª—è –Ω–∞—à–∏—Ö –ø—ã—à–µ–∫.

–ù–æ –µ—Å—Ç—å –±–æ–ª—å—à–æ–µ –∂–∏—Ä–Ω–æ–µ **–ù–û**. –ó–¥–µ—Å—å –º—ã —É–∂–µ –Ω–µ —Å–º–æ–∂–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å ETNA, –∏ –≤—Å–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –Ω—É–∂–Ω–æ –±—É–¥–µ—Ç —Å–≥–µ–Ω–µ—Ä–∏—Ä–æ–≤–∞—Ç—å —Ä—É—á–∫–∞–º–∏. –ß—Ç–æ –∂, –ø–æ–≥–Ω–∞–ª–∏!

### –ì–µ–Ω–µ—Ä–∞—Ü–∏—è –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

–ü—Ä–∏–∑–Ω–∞–∫–∏ –Ω—É–∂–Ω—ã –±—É–¥—É—Ç –∫–∞–∫ –¥–ª—è –æ–±—É—á–∞—é—â–µ–π –≤—ã–±–æ—Ä–∫–∏, —Ç–∞–∫ –∏ –¥–ª—è —Ç–µ—Å—Ç–æ–≤–æ–π. –ü–æ—ç—Ç–æ–º—É –æ–±—ä–µ–¥–∏–Ω–∏–º –∏—Ö –æ–±—Ä–∞—Ç–Ω–æ –≤ –µ–¥–∏–Ω—É—é —Ç–∞–±–ª–∏—Ü—É, —Å–≥–µ–Ω–µ—Ä–∏–º –ø—Ä–∏–∑–Ω–∞–∫–∏, –∞ –ø–æ—Ç–æ–º —Å–Ω–æ–≤–∞ —Ä–∞–∑–¥–µ–ª–∏–º –ø–æ —Ç–æ–π –∂–µ –¥–∞—Ç–µ 1 –¥–µ–∫–∞–±—Ä—è 2016.

In [242]:
df = pd.concat((train_df, test_df)).set_index("timestamp")

df.head()

           country   store    product  target                  segment
timestamp
2010-01-01  Canada  Donots  Chocolate   300.0  Canada_Donots_Chocolate
2010-01-02  Canada  Donots  Chocolate   281.0  Canada_Donots_Chocolate
2010-01-03  Canada  Donots  Chocolate   297.0  Canada_Donots_Chocolate
2010-01-04  Canada  Donots  Chocolate   235.0  Canada_Donots_Chocolate
2010-01-05  Canada  Donots  Chocolate   240.0  Canada_Donots_Chocolate

–ù–µ—Ç –µ–¥–∏–Ω–æ–≥–æ –≤–µ—Ä–Ω–æ–≥–æ —Å–ø–æ—Å–æ–±–∞ –∫–∞–∫–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –≥–µ–Ω–µ—Ä–∏—Ç—å –∏ –∫–∞–∫, —Ç—É—Ç –≤–∞—Å –æ–≥—Ä–∞–Ω–∏—á–∏–≤–∞–µ—Ç —Ç–æ–ª—å–∫–æ –≤–∞—à–∞ —Ñ–∞–Ω—Ç–∞–∑–∏—è –∏ –¥–æ—Å—Ç—É–ø–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ. 

–ú—ã —Å–æ–∑–¥–∞–¥–∏–º —Ç—Ä–∏ —Ç–∏–ø–∞ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤: 
- –ø—Ä–∏–∑–Ω–∞–∫–∏ —Å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–µ–π –æ –¥–Ω—è—Ö;
- –ø—Ä–∏–∑–Ω–∞–∫–∏ –æ –ø—Ä–∞–∑–¥–Ω–∏–∫–∞—Ö;
- –ø—Ä–∏–∑–Ω–∞–∫–∏ –æ "–ª–∞–≥–∞—Ö".

<details>
    <summary>ü§ì –ß—Ç–æ —Ç–∞–∫–æ–µ –ª–∞–≥–∏? [–ù–∞–∂–º–∏ –Ω–∞ –º–µ–Ω—è]</summary>

**–õ–∞–≥–∏** - —ç—Ç–æ –∫–∞–∫–∏–µ-—Ç–æ –ø—Ä–µ–¥—ã–¥—É—â–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤—Ä–µ–º–µ–Ω–Ω–æ–≥–æ —Ä—è–¥–∞. –ù–∞–ø—Ä–∏–º–µ—Ä, –ø–µ—Ä–≤—ã–π –ª–∞–≥ - —ç—Ç–æ –≤—á–µ—Ä–∞—à–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ, –∞ –ø—è—Ç—ã–π –ª–∞–≥ - —ç—Ç–æ –∑–Ω–∞—á–µ–Ω–∏–µ 5 –¥–Ω–µ–π –Ω–∞–∑–∞–¥ –∏ —Ç.–¥. –¢–∞–∫–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –æ—á–µ–Ω—å –≤–∞–∂–Ω—ã –¥–ª—è —Ä–µ–≥—Ä–µ—Å—Å–∏–æ–Ω–Ω—ã—Ö –º–æ–¥–µ–ª–µ–π, —Ç.–∫. –∏–º –Ω—É–∂–Ω–æ –ø–æ–ª—É—á–∏—Ç—å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –ø—Ä–æ—à–ª–æ–º —Ä—è–¥–∞. 

</details>

–ì–µ–Ω–µ—Ä–∏—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–∏ (—Ñ–∏—á–∏) –Ω—É–∂–Ω–æ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ä—è–¥–∞ –≤ –æ—Ç–¥–µ–ª—å–Ω–æ—Å—Ç–∏, —Ç.–∫. –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ä—è–¥–∞ –º—ã –±—É–¥–µ–º —É—á–∏—Ç—å —Å–≤–æ—é —Å–æ–±—Å—Ç–≤–µ–Ω–Ω—É—é –º–æ–¥–µ–ª—å. –í –∏—Ç–æ–≥–µ —É –Ω–∞—Å –ø–æ–ª—É—á–∏—Ç—Å—è 90 –º–æ–¥–µ–ª–µ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏ (–Ω–∞ —Å–∞–º–æ–º –¥–µ–ª–µ 88, —Ç.–∫. 2 –ø—É—Å—Ç—ã—Ö —Ä—è–¥–∞ –º—ã –≤—ã–∫–∏–Ω—É–ª–∏). –ê –Ω–µ –æ–¥–Ω–∞, –∫–∞–∫ –≤ ETNA. 

–î–∞–≤–∞–π—Ç–µ –¥–ª—è –ø—Ä–∏–º–µ—Ä–∞ –ø–æ—Å–º–æ—Ç—Ä–∏–º –≥–µ–Ω–µ—Ä–∞—Ü–∏—é –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –¥–ª—è –æ–¥–Ω–æ–≥–æ —Ä—è–¥–∞, –∞ –ø–æ—Ç–æ–º –Ω–∞–ø–∏—à–µ–º —Ü–∏–∫–ª (–ø–∞–π–ø–ª–∞–π–Ω), –∫–æ—Ç–æ—Ä—ã–π –±—É–¥–µ—Ç –ø—Ä–æ—Ö–æ–¥–∏—Ç—å –ø–æ –∫–∞–∂–¥–æ–º—É —Ä—è–¥—É. 

–î–æ–ø—É—Å—Ç–∏–º –≤—ã–±–µ—Ä–µ–º –∫–æ—Ñ–µ–π–Ω—É—é –ø—ã—à–∫—É –≤ –ø—ã—à–µ—á–Ω–æ–π Pyshka –≤ –°–∏–Ω–≥–∞–ø—É—Ä–µ.

In [243]:
SAMPLE_COUNTRY = "Singapore"
SAMPLE_STORE = "Pyshka"
SAMPLE_PRODUCT = "Coffee"

In [244]:
SAMPLE_COUNTRY = "Singapore"
SAMPLE_STORE = "Pyshka"
SAMPLE_PRODUCT = "Coffee"

# TODO - –æ—Ç—Ñ–∏–ª—å—Ç—Ä—É–π—Ç–µ —Ç–æ–ª—å–∫–æ –¥–∞–Ω–Ω—ã–µ –¥–ª—è –æ–¥–Ω–æ–≥–æ —Ä—è–¥–∞

sample_df = train_df[
    (train_df["country"] == SAMPLE_COUNTRY) & 
    (train_df["store"] == SAMPLE_STORE) & 
    (train_df["product"] == SAMPLE_PRODUCT)
]

sample_df.head()

        timestamp    country   store product  target                  segment
212184 2010-01-01  Singapore  Pyshka  Coffee  1045.0  Singapore_Pyshka_Coffee
212185 2010-01-02  Singapore  Pyshka  Coffee  1010.0  Singapore_Pyshka_Coffee
212186 2010-01-03  Singapore  Pyshka  Coffee  1040.0  Singapore_Pyshka_Coffee
212187 2010-01-04  Singapore  Pyshka  Coffee   846.0  Singapore_Pyshka_Coffee
212188 2010-01-05  Singapore  Pyshka  Coffee   770.0  Singapore_Pyshka_Coffee

In [245]:
sample_df.head()

        timestamp    country   store product  target                  segment
212184 2010-01-01  Singapore  Pyshka  Coffee  1045.0  Singapore_Pyshka_Coffee
212185 2010-01-02  Singapore  Pyshka  Coffee  1010.0  Singapore_Pyshka_Coffee
212186 2010-01-03  Singapore  Pyshka  Coffee  1040.0  Singapore_Pyshka_Coffee
212187 2010-01-04  Singapore  Pyshka  Coffee   846.0  Singapore_Pyshka_Coffee
212188 2010-01-05  Singapore  Pyshka  Coffee   770.0  Singapore_Pyshka_Coffee

In [246]:
assert set(sample_df["country"].unique()) == set([SAMPLE_COUNTRY]), "–î–æ–ª–∂–µ–Ω –±—ã—Ç—å —Ç–æ–ª—å–∫–æ –°–∏–Ω–≥–∞–ø—É—Ä –≤ –¥–∞–Ω–Ω—ã—Ö"
assert set(sample_df["store"].unique()) == set([SAMPLE_STORE]), "–î–æ–ª–∂–Ω–∞ –±—ã—Ç—å —Ç–æ–ª—å–∫–æ –æ–¥–Ω–∞ –ø—ã—à–µ—á–Ω–∞—è –≤ –¥–∞–Ω–Ω—ã—Ö"
assert set(sample_df["product"].unique()) == set([SAMPLE_PRODUCT]), "–î–æ–ª–∂–Ω–∞ –±—ã—Ç—å —Ç–æ–ª—å–∫–æ –∫–æ—Ñ–µ–π–Ω–∞—è –ø—ã—à–∫–∞ –≤ –¥–∞–Ω–Ω—ã—Ö"

print("–¢–µ—Å—Ç—ã –ø—Ä–æ—à–ª–∏! –í—Å—ë —Ö–æ—Ä–æ—à–æ!")

–¢–µ—Å—Ç—ã –ø—Ä–æ—à–ª–∏! –í—Å—ë —Ö–æ—Ä–æ—à–æ!

–û—Å—Ç–∞–≤–∏–º —Ç–æ–ª—å–∫–æ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –¥–∞—Ç–µ –∏ —Ü–µ–ª–µ–≤—É—é –∫–æ–ª–æ–Ω–∫—É. –û—Å—Ç–∞–ª—å–Ω—ã–µ –∫–æ–ª–æ–Ω–∫–∏ —Å–æ–¥–µ—Ä–∂–∞—Ç –ø–æ–≤—Ç–æ—Ä—è—é—â–∏–µ—Å—è –∑–Ω–∞—á–µ–Ω–∏—è –∏ –º–æ–¥–µ–ª–∏ –æ–Ω–∏ –Ω–∏—á–µ–º –Ω–µ –ø–æ–º–æ–≥—É—Ç.

In [247]:
sample_df = sample_df[["target"]]
sample_df.head()

        target
212184  1045.0
212185  1010.0
212186  1040.0
212187   846.0
212188   770.0

–ù–∞—á–Ω—ë–º —Å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –æ –¥–Ω—è—Ö. –°—é–¥–∞ –æ—Ç–Ω–æ—Å–∏—Ç—Å—è —Ç–∞–∫–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –∫–∞–∫ –¥–µ–Ω—å –º–µ—Å—è—Ü–∞, –¥–µ–Ω—å –Ω–µ–¥–µ–ª–∏, —á–µ—Ç–≤–µ—Ä—Ç—å –≥–æ–¥–∞, –∫ –∫–æ—Ç–æ—Ä–æ–º—É –ø—Ä–∏–Ω–∞–¥–ª–µ–∂–∏—Ç —Ç–µ–∫—É—â–∏–π timestamp, –ø–æ—Ä—è–¥–∫–æ–≤—ã–π –¥–µ–Ω—å –≥–æ–¥–∞, –ø–æ—Ä—è–¥–∫–æ–≤–∞—è –Ω–µ–¥–µ–ª—è –≥–æ–¥–∞ –∏ —Ç.–¥ –∏ —Ç.–ø. –í—Å—ë, —á—Ç–æ –≤—ã —Ç–æ–ª—å–∫–æ –º–æ–∂–µ—Ç–µ –ø—Ä–∏–¥—É–º–∞—Ç—å.  

–î–∞–≤–∞–π—Ç–µ —Å–¥–µ–ª–∞–µ–º –æ—Ç–¥–µ–ª—å–Ω—É—é —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è –≥–µ–Ω–µ—Ä–∞—Ü–∏–∏ —Ç–∞–∫–∏—Ö —Ñ–∏—á, –æ–Ω–∞ –Ω–∞–º –ø—Ä–∏–≥–æ–¥–∏—Ç—Å—è –µ—â—ë –≤ –ø–∞–π–ø–ª–∞–π–Ω–µ.

In [ ]:
import pandas as pd
import numpy as np


def create_dtime_features(df: pd.DataFrame) -> pd.DataFrame:
    """ÂàõÂª∫Êó∂Èó¥Áõ∏ÂÖ≥ÁâπÂæÅÔºà‰æùËµñDataFrameÁöÑdatetimeÁ¥¢ÂºïÔºâ"""
    df_new = df.copy()
    
    
    df_new["dayofweek"] = df_new.index.dayofweek.tolist()
    df_new["cos_weekday"] = np.cos(df_new["dayofweek"] / 7 * 2 * np.pi)
    df_new["sin_weekday"] = np.sin(df_new["dayofweek"] / 7 * 2 * np.pi)
    
    
    df_new["is_leap_year"] = df_new.index.is_leap_year.tolist()
    df_new["dayofyear"] = df_new.index.dayofyear.tolist()
    df_new["cos_day"] = np.cos(df_new["dayofyear"] / (365 + df_new["is_leap_year"]) * 2 * np.pi)
    df_new["sin_day"] = np.sin(df_new["dayofyear"] / (365 + df_new["is_leap_year"]) * 2 * np.pi)
    
   
    df_new["quarter"] = df_new.index.quarter.tolist()
    df_new["year"] = df_new.index.year.tolist()
    df_new["month"] = df_new.index.month.tolist()
    df_new["day"] = df_new.index.day.tolist()
    df_new["weekofyear"] = df_new.index.isocalendar().week.tolist()
    
    
    df_new["is_weekend"] = 0
    df_new.loc[df_new["dayofweek"].isin([5, 6]), "is_weekend"] = 1
    
    
    df_new["is_month_start"] = df_new.index.is_month_start.tolist()
    df_new["is_month_end"] = df_new.index.is_month_end.tolist()
    
    return df_new



dates = pd.date_range(start="2025-01-01", periods=5, freq="D")
sample_df = pd.DataFrame({
    "sales": [100, 120, 90, 110, 130]
}, index=dates)



sample_df = create_dtime_features(sample_df)
sample_df.head()

,sales,dayofweek,cos_weekday,sin_weekday,is_leap_year,dayofyear,cos_day,sin_day,quarter,year,month,day,weekofyear,is_weekend,is_month_start,is_month_end
2025-01-01,100,2,-0.222521,0.974928,False,1,0.999852,0.017213,1,2025,1,1,1,0,True,False
2025-01-02,120,3,-0.900969,0.433884,False,2,0.999407,0.034422,1,2025,1,2,1,0,False,False
2025-01-03,90,4,-0.900969,-0.433884,False,3,0.998667,0.051620,1,2025,1,3,1,0,False,False
2025-01-04,110,5,-0.222521,-0.974928,False,4,0.997630,0.068802,1,2025,1,4,1,1,False,False
2025-01-05,130,6,0.623490,-0.781831,False,5,0.996298,0.085965,1,2025,1,5,1,1,False,False

In [249]:
# –í—ã–∑—ã–≤–∞–µ–º —Ñ—É–Ω–∫—Ü–∏—é –∏ –ø–æ—Å–º–æ—Ç—Ä–∏–º, —á—Ç–æ —É –Ω–∞—Å —Å—Ç–∞–ª–æ —Å —Ç–∞–±–ª–∏—á–∫–æ–π
sample_df = create_dtime_features(sample_df)

sample_df.head()

,sales,dayofweek,cos_weekday,sin_weekday,is_leap_year,dayofyear,cos_day,sin_day,quarter,year,month,day,weekofyear,is_weekend,is_month_start,is_month_end
2025-01-01,100,2,-0.222521,0.974928,False,1,0.999852,0.017213,1,2025,1,1,1,0,True,False
2025-01-02,120,3,-0.900969,0.433884,False,2,0.999407,0.034422,1,2025,1,2,1,0,False,False
2025-01-03,90,4,-0.900969,-0.433884,False,3,0.998667,0.051620,1,2025,1,3,1,0,False,False
2025-01-04,110,5,-0.222521,-0.974928,False,4,0.997630,0.068802,1,2025,1,4,1,1,False,False
2025-01-05,130,6,0.623490,-0.781831,False,5,0.996298,0.085965,1,2025,1,5,1,1,False,False

–ü—É—Ñ! –ò —É –Ω–∞—Å —É–∂–µ 15 –Ω–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ (–∫–æ–ª–æ–Ω–æ–∫) üòé –î–∞–ª—å—à–µ –±–æ–ª—å—à–µ!

–¢–µ–ø–µ—Ä—å –¥–æ–±–∞–≤–∏–º –ø—Ä–∏–∑–Ω–∞–∫–∏ –æ –ø—Ä–∞–∑–¥–Ω–∏–∫–∞—Ö. –ï—Å—Ç—å —Ä–∞–¥–æ—Å—Ç–Ω–∞—è –Ω–æ–≤–æ—Å—Ç—å, –ø—Ä–∞–∑–¥–Ω–∏–∫–∏ –Ω–µ –Ω—É–∂–Ω–æ –¥–æ–±–∞–≤–ª—è—Ç—å —Ä—É–∫–∞–º–∏, –∑–∞ –Ω–∞—Å —ç—Ç–æ —É–∂–µ —Å–¥–µ–ª–∞–ª–∏ –¥—Ä—É–≥–∏–µ –ª—é–¥–∏ –≤ –±–∏–±–ª–∏–æ—Ç–µ–∫–µ `Prophet`. 

–î–æ—Å—Ç–∞—Ç–æ—á–Ω–æ —É–∫–∞–∑–∞—Ç—å —Å—Ç—Ä–∞–Ω—É –∏ –¥–∏–∞–ø–∞–∑–æ–Ω –ª–µ—Ç. –ò –ø–æ–ª—É—á–∏–º –∏—Å—á–µ—Ä–ø—ã–≤–∞—é—â–∏–π —Å–ø–∏—Å–æ–∫ –ø—Ä–∞–∑–¥–Ω–∏–∫–æ–≤.

–î–ª—è —É–¥–æ–±—Å—Ç–≤–∞ –º–æ–¥–µ–ª–∏ –∑–∞–∫–æ–¥–∏—Ä—É–µ–º –±–∏–Ω–∞—Ä–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –∫–∞–∂–¥—ã–π –ø—Ä–∞–∑–¥–Ω–∏–∫.

In [250]:
def get_holiday_df(country_name: str) -> pd.DataFrame:
    holidays_df = make_holidays_df(year_list=range(2010, 2017), country=country_name)

    holidays_df["is_holiday"] = 1
    holidays_df = holidays_df.rename(columns={"ds": "timestamp"})
    holidays_df = holidays_df.set_index("timestamp")

    return holidays_df

In [251]:
sample_holidays_df = get_holiday_df(SAMPLE_COUNTRY)

sample_holidays_df.head()

                     holiday  is_holiday
timestamp
2016-01-01    New Year's Day           1
2016-02-08  Chinese New Year           1
2016-02-09  Chinese New Year           1
2016-07-06       Eid al-Fitr           1
2016-09-12       Eid al-Adha           1

–ß—Ç–æ–±—ã —Ä–∞—Å—à–∏—Ä–∏—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–∏, –¥–æ–±–∞–≤–∏–º –≤ —Ç–∞–±–ª–∏—Ü—É –ª–∞–≥–∏ –ø–æ—Å–ª–µ –ø—Ä–∞–∑–¥–Ω–∏—á–Ω–æ–≥–æ –¥–Ω—è (1 –∏ 2 –¥–Ω—è –ø–æ—Å–ª–µ).

–î–ª—è —É–¥–æ–±—Å—Ç–≤–∞ –æ—Ñ–æ—Ä–º–∏–º –≤—Å—ë —ç—Ç–æ –≤ –æ—Ç–¥–µ–ª—å–Ω—É—é —Ñ—É–Ω–∫—Ü–∏—é.

In [252]:
def create_holiday_features(df: pd.DataFrame, holidays_df: pd.DataFrame) -> pd.DataFrame:
    """Create holiday features."""
    df_new = df.copy()
    df_new = df_new.merge(holidays_df[["is_holiday"]], left_index=True, right_index=True, how="outer")
    df_new["is_holiday"] = df_new["is_holiday"].fillna(0)
    df_new["holiday_lag_1"] = df_new["is_holiday"].shift(1)
    df_new["holiday_lag_2"] = df_new["is_holiday"].shift(2)
    return df_new

In [253]:
sample_df = create_holiday_features(sample_df, sample_holidays_df)

sample_df.head()

,sales,dayofweek,cos_weekday,sin_weekday,is_leap_year,dayofyear,cos_day,sin_day,quarter,year,month,day,weekofyear,is_weekend,is_month_start,is_month_end,is_holiday,holiday_lag_1,holiday_lag_2
2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2010-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN
2010-02-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0
2010-02-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0
2010-04-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0

–ï—â—ë +3 –ø—Ä–∏–∑–Ω–∞–∫–∞. –ò—Ç–æ–≥–æ —É–∂–µ 18 –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –¥–ª—è –æ–±—É—á–µ–Ω–∏—è –º–æ–¥–µ–ª–∏.

–ü–µ—Ä–µ—Ö–æ–¥–∏–º –∫ "–ª–∞–≥–Ω—É—Ç—ã–º" –ø—Ä–∏–∑–Ω–∞–∫–∞–º. –°–≥–µ–Ω–µ—Ä–∏–º –ª–∞–≥–∏ –Ω–∞ 7, 10 –∏ 15 –¥–Ω–µ–π –Ω–∞–∑–∞–¥. 

–ü–æ–º–∏–º–æ —ç—Ç–æ–≥–æ –¥–æ–±–∞–≤–∏–º –µ—â—ë –Ω–µ–º–Ω–æ–≥–æ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏ –ø–æ –ª–∞–≥–∞–º: —Å–∫–æ–ª—å–∑—è—â–µ–µ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ —Å –æ–∫–Ω–æ–º 14 –∏ 7 –¥–Ω–µ–π. 

–û–ø—è—Ç—å –∂–µ –∫–∞–∫–∏–µ –ª–∞–≥–∏ –≤—ã–±—Ä–∞—Ç—å, —á—Ç–æ–±—ã –º–æ–¥–µ–ª–∏ –ø–æ–º–æ—á—å, –Ω–∏–∫—Ç–æ –Ω–µ —Å–∫–∞–∂–µ—Ç. –¢—É—Ç –Ω—É–∂–Ω–æ —ç–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç–∏—Ä–æ–≤–∞—Ç—å –∏ –æ—Ç—Ç–∞–ª–∫–∏–≤–∞—Ç—å—Å—è –æ—Ç –∑–∞–¥–∞—á–∏ –∏ –¥–∞–Ω–Ω—ã—Ö.

–î–ª—è —É–¥–æ–±—Å—Ç–≤–∞ –æ–±–µ—Ä–Ω—ë–º –≤—Å—ë –≤ —Ñ—É–Ω–∫—Ü–∏—é.

In [ ]:
def create_lag_features(df: pd.DataFrame, horizon: int) -> pd.DataFrame:
    """Create lag features for time series."""
    df_new = df.copy()
    
    
    if 'target' not in df_new.columns:
       
        possible_targets = ['num_sold', 'sales', 'value']  
        target_col = None
        for col in possible_targets:
            if col in df_new.columns:
                target_col = col
                break
        
        if target_col is None:
            
            numeric_cols = df_new.select_dtypes(include=[np.number]).columns
            if len(numeric_cols) > 0:
                target_col = numeric_cols[0]
            else:
                raise KeyError("Êâæ‰∏çÂà∞ÁõÆÊ†áÂàóÔºåËØ∑Á°Æ‰øùÊï∞ÊçÆÂåÖÂê´Êï∞ÂÄºÂûãÁõÆÊ†áÂèòÈáè")
        
       
        df_new = df_new.rename(columns={target_col: 'target'})
    
    
    for lag in range(1, horizon + 1):
        df_new[f"lag_{lag}"] = df_new["target"].shift(lag)
    
   
    for window in [7, 14, 30]:
        df_new[f"rolling_mean_{window}"] = df_new["target"].shift(1).rolling(window=window).mean()
        df_new[f"rolling_std_{window}"] = df_new["target"].shift(1).rolling(window=window).std()
        df_new[f"rolling_min_{window}"] = df_new["target"].shift(1).rolling(window=window).min()
        df_new[f"rolling_max_{window}"] = df_new["target"].shift(1).rolling(window=window).max()
    
    return df_new

In [255]:
sample_df = create_lag_features(sample_df, horizon=HORIZON)
sample_df.head()

,target,dayofweek,cos_weekday,sin_weekday,is_leap_year,dayofyear,cos_day,sin_day,quarter,year,...,rolling_min_7,rolling_max_7,rolling_mean_14,rolling_std_14,rolling_min_14,rolling_max_14,rolling_mean_30,rolling_std_30,rolling_min_30,rolling_max_30
2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-02-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-02-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-04-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [256]:
sample_df.tail()

,target,dayofweek,cos_weekday,sin_weekday,is_leap_year,dayofyear,cos_day,sin_day,quarter,year,...,rolling_min_7,rolling_max_7,rolling_mean_14,rolling_std_14,rolling_min_14,rolling_max_14,rolling_mean_30,rolling_std_30,rolling_min_30,rolling_max_30
2025-01-01,100.0,2.0,-0.222521,0.974928,False,1.0,0.999852,0.017213,1.0,2025.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-02,120.0,3.0,-0.900969,0.433884,False,2.0,0.999407,0.034422,1.0,2025.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-03,90.0,4.0,-0.900969,-0.433884,False,3.0,0.998667,0.051620,1.0,2025.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-04,110.0,5.0,-0.222521,-0.974928,False,4.0,0.997630,0.068802,1.0,2025.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-05,130.0,6.0,0.623490,-0.781831,False,5.0,0.996298,0.085965,1.0,2025.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

–í–∞–∂–Ω–æ –æ—Ç–º–µ—Ç–∏—Ç—å, —á—Ç–æ –≤ –Ω–∞—á–∞–ª–µ –Ω–∞—à–µ–π –≤—ã–±–æ—Ä–∫–∏ —á–∞—Å—Ç—å –ª–∞–≥–Ω—É—Ç—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ —Å–æ–¥–µ—Ä–∂–∏—Ç `NaN` –≤ —è—á–µ–π–∫–∞—Ö. –≠—Ç–æ —Å–ª—É—á–∏–ª–æ—Å—å –ø–æ—Ç–æ–º—É, —á—Ç–æ —ç—Ç–æ –Ω–∞—á–∞–ª–æ –∏—Å—Ç–æ—Ä–∏–∏ –∏ –ª–∞–≥–∏ –ø—Ä–æ—Å—Ç–æ –Ω–µ–æ—Ç–∫—É–¥–∞ –≤–∑—è—Ç—å. –ü—Ä–∏ –æ–±—É—á–µ–Ω–∏–∏ —ç—Ç–∏ —Å—Ç—Ä–æ–∫–∏ –ø—Ä–∏–¥—ë—Ç—Å—è –¥—Ä–æ–ø–Ω—É—Ç—å.

–ù–æ —Ç–∞–∫ –∫–∞–∫ —ç—Ç–æ –Ω–∞—á–∞–ª–æ –æ–±—É—á–∞—é—â–µ–π –≤—ã–±–æ—Ä–∫–∏, —Ç–æ –Ω–µ —Å—Ç—Ä–∞—à–Ω–æ. –¢–µ–º –±–æ–ª–µ–µ —É–π–¥—ë—Ç –≤—Å–µ–≥–æ –æ–∫–æ–ª–æ 30 —Å—Ç—Ä–æ—á–µ–∫, —á—Ç–æ –º–µ–Ω—å—à–µ 1% –ø—Ä–æ—Ü–µ–Ω—Ç–∞ –Ω–∞—à–∏—Ö –¥–∞–Ω–Ω—ã—Ö.

In [257]:
sample_df.shape

(96, 62)

–ò—Ç–∞–∫ ... –ª—ë–≥–∫–∏–º –¥–≤–∏–∂–µ–Ω–∏–º —Ä—É–∫–∏ —É –Ω–∞—Å —É–∂–µ 63 –ø—Ä–∏–∑–Ω–∞–∫–∞. –ê –ø–æ–º–Ω–∏—Ç–µ —Å —á–µ–≥–æ –º—ã –Ω–∞—á–∏–Ω–∞–ª–∏? 1 –∫–æ–ª–æ–Ω–∫–∞ —Å –¥–Ω—ë–º –∏ 1 —Ü–µ–ª–µ–≤–∞—è –∫–æ–ª–æ–Ω–∫–∞.  

–ú–æ–∂–Ω–æ –¥–æ–±–∞–≤–∏—Ç—å –∏ –±–æ–ª—å—à–µ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤, –Ω–æ –ø–æ–∫–∞ –æ—Å—Ç–∞–Ω–æ–≤–∏–º—Å—è –Ω–∞ —ç—Ç–æ–º.

–¢—É—Ç –∫–∞–∫ –∏ –≤–µ–∑–¥–µ –≤–∞–∂–Ω–æ **–Ω–µ –ø–µ—Ä–µ–±–æ—Ä—â–∏—Ç—å**. –ö–æ–≥–¥–∞ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –æ—á–µ–Ω—å –º–Ω–æ–≥–æ (–±–æ–ª—å—à–µ 100), —Ç–æ –º–æ–¥–µ–ª—è–º —É–∂–µ —Å–ª–æ–∂–Ω–æ —Ä–∞–∑–¥–µ–ª–∏—Ç—å –∏—Ö –≤ –ø—Ä–æ—Å—Ç—Ä–∞–Ω—Å—Ç–≤–µ –∏ —ç—Ñ—Ñ–µ–∫—Ç–∏–≤–Ω–æ—Å—Ç—å –æ–±—É—á–µ–Ω–∏—è —Å–Ω–∏–∂–∞–µ—Ç—Å—è. 

–ï—Å–ª–∏ –±—ã —É –Ω–∞—Å –±—ã–ª –≤—Å–µ–≥–æ 1 —Ä—è–¥, –º—ã –±—ã –ø–æ–ª—É—á–µ–Ω–Ω—É—é —Ç–∞–±–ª–∏—Ü—É —Ä–∞–∑–¥–µ–ª–∏–ª–∏ –æ–±—Ä–∞—Ç–Ω–æ –Ω–∞ –¥–≤–µ –≤—ã–±–æ—Ä–∫–∏ –∏ –æ–±—É—á–∏–ª–∏ –±—ã 1 –º–æ–¥–µ–ª—å. 

–ù–æ —Ç–∞–∫ –∫–∞–∫ —É –Ω–∞—Å –µ—Å—Ç—å –µ—â—ë 87 —Ä—è–¥–æ–≤, —Ç–æ –¥–∞–≤–∞–π—Ç–µ –Ω–∞–ø–∏—à–µ–º —Ü–∏–∫–ª, –≤ –∫–æ—Ç–æ—Ä–æ–º –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ä—è–¥–∞ –ø–æ–≤—Ç–æ—Ä–∏–º —ç—Ç–∏ —à–∞–≥–∏, –æ–±—É—á–∏–º –º–æ–¥–µ–ª—å –∏ –ø–æ–ª—É—á–∏–º –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è.

In [258]:
# —Ñ—É–Ω–∫—Ü–∏—è –¥–ª—è —Ñ–æ—Ä–º–∞—Ç–∏—Ä–æ–≤–∞–Ω–∏—è –ø–æ–ª—É—á–µ–Ω–Ω—ã—Ö –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–π, —á—Ç–æ–±—ã —Ñ–æ—Ä–º–∞—Ç —Ç–∞–±–ª–∏—Ü –±—ã–ª —Ç–∞–∫–æ–π –∂–µ –∫–∞–∫ —É ETNA 
def create_preds_df(y_test, y_pred, country, store, product):
    y_test = y_test.rename(columns={"target": "y_test"})

    y_test["y_pred"] = y_pred
    # –æ–∫—Ä—É–≥–ª—è–µ–º –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è, –ø—ã—à–∫–∏ –ø–æ —á–∞—Å—Ç—è–º –º—ã –Ω–µ –ø—Ä–æ–¥–∞—ë–º
    y_test["y_pred"] = np.ceil(y_test["y_pred"])

    y_test["country"] = country
    y_test["store"] = store
    y_test["product"] = product
    preds_df = y_test.reset_index()
    preds_df = preds_df[["timestamp", "y_test", "y_pred", "country", "store", "product"]]

    return preds_df

–°–æ–±–∏—Ä–∞–µ–º –≤—Å—ë –≤ –±–æ–ª—å—à—É—é –∏ –∫—Ä–∞—Å–∏–≤—É—é –∫—É—á–∫—É.

In [259]:
def run_pipeline(model) -> pd.DataFrame:
    # –≤—ã–¥–µ–ª—è–µ–º —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ —Å—Ç—Ä–∞–Ω—ã –≤ –¥–∞–Ω–Ω—ã—Ö 
    countries = df["country"].unique()

    # –≤—ã–¥–µ–ª—è–µ–º —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –ø—ã—à–µ—á–Ω—ã–µ –≤ –¥–∞–Ω–Ω—ã—Ö
    stores = df["store"].unique()

    # –≤—ã–¥–µ–ª—è–µ–º —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –≤–∫—É—Å—ã –ø—ã—à–µ–∫ –≤ –¥–∞–Ω–Ω—ã—Ö
    products = df["product"].unique()

    # –∫–æ–ª-–≤–æ –∫–æ–º–±–∏–Ω–∞—Ü–∏–π, —á–∏—Å—Ç–æ –¥–ª—è –∫—Ä–∞—Å–∏–≤—ã—Ö –ª–æ–≥–æ–≤ 
    iter_n = len(countries) * len(stores) * len(products)

    missing_predictions = []
    predictions = []

    iter_counter = 1

    # –∏—Ç–µ—Ä–∏—Ä—É–µ–º—Å—è –ø–æ –≤—Å–µ–º –∫–æ–º–±–∏–Ω–∞—Ü–∏—è–º —Å—Ç—Ä–∞–Ω–∞ - –ø—ã—à–µ—á–Ω–∞—è - –≤–∫—É—Å 
    for country in countries:
        for store in stores:
            for product in products:
                print(f"{iter_counter}/{iter_n} {country!r} - {store!r} - {product!r} processing ...")

                # –≤—ã–±–∏—Ä–∞–µ–º —Ç–æ–ª—å–∫–æ 1 –≤—Ä–µ–º–µ–Ω–Ω–æ–π —Ä—è–¥
                sample_df = df[
                    (df["country"] == country) 
                    & (df["store"] == store)
                    & (df["product"] == product)
                ]
                nan_target_index = sample_df[sample_df["target"].isna()].index
                sample_df = sample_df[["target"]].reset_index()

                if sample_df.empty:
                    missing_predictions.append((country, store, product))
                    continue
                
                sample_df = sample_df.resample("1D", on="timestamp").sum()
                sample_df.index = pd.to_datetime(sample_df.index)

                # –≥–µ–Ω–µ—Ä–∏–º –≤—Ä–µ–º–µ–Ω–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏
                sample_df = create_dtime_features(sample_df)

                # –≥–µ–Ω–µ—Ä–∏–º –ø—Ä–∞–∑–¥–Ω–∏—á–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ 
                sample_holidays_df = get_holiday_df(country)
                sample_df = create_holiday_features(sample_df, sample_holidays_df)
                
                # –≥–µ–Ω–µ—Ä–∏–º –ª–∞–≥–Ω—É—Ç—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ 
                sample_df = create_lag_features(sample_df, horizon=HORIZON)

                # –¥–µ–ª–∏–º –¥–∞–Ω–Ω—ã–µ –æ–±—Ä–∞—Ç–Ω–æ –Ω–∞ 2 –≤—ã–±–æ—Ä–∫–∏: train –∏ test

                # –æ–±—É—á–∞—é—â–∞—è –≤—ã–±–æ—Ä–∫–∞
                sample_train_df = sample_df.loc[: SPLIT_DATE - timedelta(days=1)]
                # –¥—Ä–æ–ø–Ω–µ–º —Å—Ç—Ä–æ–∫–∏, –≥–¥–µ –µ—Å—Ç—å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è 
                sample_train_df = sample_train_df.dropna()

                # —Ç–µ—Å—Ç–æ–≤–∞—è –≤—ã–±–æ—Ä–∫–∞
                sample_test_df = sample_df.loc[SPLIT_DATE:]

                # —Ä–∞–∑–¥–µ–ª—è–µ–º –≤—ã–±–æ—Ä–∫–∏ –Ω–∞ –ø—Ä–∏–∑–Ω–∞–∫–∏ –∏ —Ü–µ–ª–µ–≤—É—é –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é
                X_train = sample_train_df.drop(columns=["target"])
                y_train = sample_train_df["target"]

                X_test = sample_test_df.drop(columns=["target"])
                # X_test = X_test.fillna(method="bfill").fillna(method="ffill")

                y_test = sample_test_df[["target"]]
                nan_y_test_index = set(y_test.index) & set(nan_target_index)
                y_test.loc[nan_y_test_index, "target"] = None

                iter_counter += 1

                # –Ω–∞ –≤—Å—è–∫–∏–π —Å–ª—É—á–∞–π –ø—Ä–æ–≤–µ—Ä—è–µ–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ "–ø—É—Å—Ç–æ—Ç—É"
                if X_train.empty or X_test.empty:
                    missing_predictions.append((country, store, product))
                    continue

                # –æ–±—É—á–∞–µ–º –º–æ–¥–µ–ª—å
                model.fit(X_train, y_train)
                # –ø–æ–ª—É—á–∞–µ–º –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è
                y_pred = model.predict(X_test)

                # —Ñ–æ—Ä–º–∞—Ç–∏—Ä—É–µ–º –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è –≤ —É–¥–æ–±–Ω—ã–π –Ω–∞–º —Ñ–æ—Ä–º–∞—Ç
                preds_df = create_preds_df(y_test, y_pred, country, store, product)
                predictions.append(preds_df)

    # –æ–±—ä–µ–¥–∏–Ω—è–µ–º –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è –æ—Ç–æ –≤—Å–µ—Ö —Ä—è–¥–æ–≤ –≤ –µ–¥–∏–Ω—É—é —Ç–∞–±–ª–∏—Ü—É
    predictions_df = pd.concat(predictions)
    return predictions_df

–í—Å–µ –ø—Ä–∏–≥–æ—Ç–æ–≤–ª–µ–Ω–∏—è —Å–¥–µ–ª–∞–Ω—ã, –ø–æ–≥–Ω–∞–ª–∏ —É—á–∏—Ç—å –º–æ–¥–µ–ª—å–∫–∏!

### –õ–∏–Ω–µ–π–Ω–∞—è —Ä–µ–≥—Ä–µ—Å—Å–∏—è

–ü–µ—Ä–≤–æ–π –±—É–¥–µ—Ç —Å—Ç–∞—Ä–∞—è –¥–æ–±—Ä–∞—è –º–æ–¥–µ–ª—å –ª–∏–Ω–µ–π–Ω–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏.

In [260]:
linreg_model = LinearRegression()
linreg_predictions = run_pipeline(linreg_model)

linreg_predictions.head()

1/90 'Canada' - 'Donots' - 'Chocolate' processing ...
2/90 'Canada' - 'Donots' - 'Coffee' processing ...
3/90 'Canada' - 'Donots' - 'Cream' processing ...
4/90 'Canada' - 'Donots' - 'Strawberry Jam' processing ...
5/90 'Canada' - 'Donots' - 'Sugar Powder' processing ...
6/90 'Canada' - 'Fluffy Bounce' - 'Chocolate' processing ...
6/90 'Canada' - 'Fluffy Bounce' - 'Coffee' processing ...
7/90 'Canada' - 'Fluffy Bounce' - 'Cream' processing ...
8/90 'Canada' - 'Fluffy Bounce' - 'Strawberry Jam' processing ...
9/90 'Canada' - 'Fluffy Bounce' - 'Sugar Powder' processing ...
10/90 'Canada' - 'Pyshka' - 'Chocolate' processing ...
11/90 'Canada' - 'Pyshka' - 'Coffee' processing ...
12/90 'Canada' - 'Pyshka' - 'Cream' processing ...
13/90 'Canada' - 'Pyshka' - 'Strawberry Jam' processing ...
14/90 'Canada' - 'Pyshka' - 'Sugar Powder' processing ...
15/90 'Finland' - 'Donots' - 'Chocolate' processing ...
16/90 'Finland' - 'Donots' - 'Coffee' processing ...
17/90 'Finland' - 'Donots' - 'Cream' processing ...
18/90 'Finland' - 'Donots' - 'Strawberry Jam' processing ...
19/90 'Finland' - 'Donots' - 'Sugar Powder' processing ...
20/90 'Finland' - 'Fluffy Bounce' - 'Chocolate' processing ...
21/90 'Finland' - 'Fluffy Bounce' - 'Coffee' processing ...
22/90 'Finland' - 'Fluffy Bounce' - 'Cream' processing ...
23/90 'Finland' - 'Fluffy Bounce' - 'Strawberry Jam' processing ...
24/90 'Finland' - 'Fluffy Bounce' - 'Sugar Powder' processing ...
25/90 'Finland' - 'Pyshka' - 'Chocolate' processing ...
26/90 'Finland' - 'Pyshka' - 'Coffee' processing ...
27/90 'Finland' - 'Pyshka' - 'Cream' processing ...
28/90 'Finland' - 'Pyshka' - 'Strawberry Jam' processing ...
29/90 'Finland' - 'Pyshka' - 'Sugar Powder' processing ...
30/90 'Italy' - 'Donots' - 'Chocolate' processing ...
31/90 'Italy' - 'Donots' - 'Coffee' processing ...
32/90 'Italy' - 'Donots' - 'Cream' processing ...
33/90 'Italy' - 'Donots' - 'Strawberry Jam' processing ...
34/90 'Italy' - 'Donots' - 'Sugar Powder' processing ...
35/90 'Italy' - 'Fluffy Bounce' - 'Chocolate' processing ...
36/90 'Italy' - 'Fluffy Bounce' - 'Coffee' processing ...
37/90 'Italy' - 'Fluffy Bounce' - 'Cream' processing ...
38/90 'Italy' - 'Fluffy Bounce' - 'Strawberry Jam' processing ...
39/90 'Italy' - 'Fluffy Bounce' - 'Sugar Powder' processing ...
40/90 'Italy' - 'Pyshka' - 'Chocolate' processing ...
41/90 'Italy' - 'Pyshka' - 'Coffee' processing ...
42/90 'Italy' - 'Pyshka' - 'Cream' processing ...
43/90 'Italy' - 'Pyshka' - 'Strawberry Jam' processing ...
44/90 'Italy' - 'Pyshka' - 'Sugar Powder' processing ...
45/90 'Kenya' - 'Donots' - 'Chocolate' processing ...
46/90 'Kenya' - 'Donots' - 'Coffee' processing ...
47/90 'Kenya' - 'Donots' - 'Cream' processing ...
48/90 'Kenya' - 'Donots' - 'Strawberry Jam' processing ...
49/90 'Kenya' - 'Donots' - 'Sugar Powder' processing ...
50/90 'Kenya' - 'Fluffy Bounce' - 'Chocolate' processing ...
50/90 'Kenya' - 'Fluffy Bounce' - 'Coffee' processing ...
51/90 'Kenya' - 'Fluffy Bounce' - 'Cream' processing ...
52/90 'Kenya' - 'Fluffy Bounce' - 'Strawberry Jam' processing ...
53/90 'Kenya' - 'Fluffy Bounce' - 'Sugar Powder' processing ...
54/90 'Kenya' - 'Pyshka' - 'Chocolate' processing ...
55/90 'Kenya' - 'Pyshka' - 'Coffee' processing ...
56/90 'Kenya' - 'Pyshka' - 'Cream' processing ...
57/90 'Kenya' - 'Pyshka' - 'Strawberry Jam' processing ...
58/90 'Kenya' - 'Pyshka' - 'Sugar Powder' processing ...
59/90 'Norway' - 'Donots' - 'Chocolate' processing ...
60/90 'Norway' - 'Donots' - 'Coffee' processing ...
61/90 'Norway' - 'Donots' - 'Cream' processing ...
62/90 'Norway' - 'Donots' - 'Strawberry Jam' processing ...
63/90 'Norway' - 'Donots' - 'Sugar Powder' processing ...
64/90 'Norway' - 'Fluffy Bounce' - 'Chocolate' processing ...
65/90 'Norway' - 'Fluffy Bounce' - 'Coffee' processing ...
66/90 'Norway' - 'Fluffy Bounce' - 'Cream' processing ...
67/90 'Norway' - 'Fluffy Bounce' - 'Strawberry Jam' processing ...
68/90 'Norway' - 'Fluffy Bounce' - 'Sugar Powder' processing ...
69/90 'Norway' - 'Pyshka' - 'Chocolate' processing ...
70/90 'Norway' - 'Pyshka' - 'Coffee' processing ...
71/90 'Norway' - 'Pyshka' - 'Cream' processing ...
72/90 'Norway' - 'Pyshka' - 'Strawberry Jam' processing ...
73/90 'Norway' - 'Pyshka' - 'Sugar Powder' processing ...
74/90 'Singapore' - 'Donots' - 'Chocolate' processing ...
75/90 'Singapore' - 'Donots' - 'Coffee' processing ...
76/90 'Singapore' - 'Donots' - 'Cream' processing ...
77/90 'Singapore' - 'Donots' - 'Strawberry Jam' processing ...
78/90 'Singapore' - 'Donots' - 'Sugar Powder' processing ...
79/90 'Singapore' - 'Fluffy Bounce' - 'Chocolate' processing ...
80/90 'Singapore' - 'Fluffy Bounce' - 'Coffee' processing ...
81/90 'Singapore' - 'Fluffy Bounce' - 'Cream' processing ...
82/90 'Singapore' - 'Fluffy Bounce' - 'Strawberry Jam' processing ...
83/90 'Singapore' - 'Fluffy Bounce' - 'Sugar Powder' processing ...
84/90 'Singapore' - 'Pyshka' - 'Chocolate' processing ...
85/90 'Singapore' - 'Pyshka' - 'Coffee' processing ...
86/90 'Singapore' - 'Pyshka' - 'Cream' processing ...
87/90 'Singapore' - 'Pyshka' - 'Strawberry Jam' processing ...
88/90 'Singapore' - 'Pyshka' - 'Sugar Powder' processing ...

   timestamp  y_test  y_pred country   store    product
0 2016-12-01     NaN   220.0  Canada  Donots  Chocolate
1 2016-12-02   212.0   173.0  Canada  Donots  Chocolate
2 2016-12-03   210.0   208.0  Canada  Donots  Chocolate
3 2016-12-04   231.0   245.0  Canada  Donots  Chocolate
4 2016-12-05     NaN   228.0  Canada  Donots  Chocolate

In [261]:
linreg_predictions.shape

(2728, 6)

–¢–∞–∫–∂–µ –∫–∞–∫ —Å –º–æ–¥–µ–ª—å—é ETNA –æ—Ç—Ä–∏—Å—É–µ–º –Ω–∞ –≥—Ä–∞—Ñ–∏–∫–µ —Å—Ä–∞–≤–Ω–µ–Ω–∏–µ —Ü–µ–ª–µ–≤—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –∏ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–Ω—ã—Ö –º–æ–¥–µ–ª—å—é.

In [262]:
@widgets.interact(
    country=widgets.Dropdown(options=linreg_predictions["country"].unique()),
    store=widgets.Dropdown(options=linreg_predictions["store"].unique()),
    products=widgets.Dropdown(options=linreg_predictions["product"].unique()),
    start_date=widgets.DatePicker(value=linreg_predictions["timestamp"].min()),
)
def show_linreg_predictions(country: str, store: str, products: str, start_date: date):  # noqa: D103
    start_date = pd.Timestamp(start_date)
    plot_df = linreg_predictions[
        (linreg_predictions["country"] == country)
        & (linreg_predictions["store"] == store)
        & (linreg_predictions["product"] == products)
        & (linreg_predictions["timestamp"].dt.date >= start_date.date())
    ]

    fig, axs = plt.subplots(nrows=1, ncols=1, figsize=(15, 4))

    axs.plot(plot_df["timestamp"], plot_df["y_pred"], marker="o", label="pred")
    # —É–±–µ—Ä—ë–º –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, —á—Ç–æ–±—ã —Ç–æ—á–∫–∏ —Å–æ–µ–¥–∏–Ω–∏–ª–∏—Å—å –º–µ–∂–¥—É —Å–æ–±–æ–π - —á–∏—Å—Ç–æ –¥–ª—è –∫—Ä–∞—Å–æ—Ç—ã
    plot_df = plot_df.dropna()
    axs.plot(plot_df["timestamp"], plot_df["y_test"], marker="o", label="true")
    axs.set_xlabel("–î–∞—Ç–∞")
    axs.set_ylabel("–ö–æ–ª-–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –ø—ã—à–µ–∫")
    axs.legend()

    plt.show()

interactive(children=(Dropdown(description='country', options=('Canada', 'Finland', 'Italy', 'Kenya', 'Norway'‚Ä¶

–ò —Å–æ—Ö—Ä–∞–Ω—è–µ–º –≤ —Ñ–∞–π–ª, —á—Ç–æ–±—ã –Ω–µ –ø–æ—Ç–µ—Ä—è—Ç—å.

In [263]:
pred_dpath = Path("forecast_predictions")
pred_dpath.mkdir(parents=True, exist_ok=True)

pred_fpath = pred_dpath / "linear_regression_predictions.csv"
linreg_predictions.to_csv(pred_fpath)

### LGBM : –ë—É—Å—Ç–∏–Ω–≥

–î–ª—è —Å—Ä–∞–≤–Ω–µ–Ω–∏—è –æ–±—É—á–∏–º –º–æ–¥–µ–ª—å –≥—Ä–∞–¥–∏–µ–Ω—Ç–Ω–æ–≥–æ –±—É—Å—Ç–∏–Ω–≥–∞.

In [264]:
lgbm_model = LGBMRegressor(random_state=42)
lgbm_predictions = run_pipeline(lgbm_model)

lgbm_predictions.head()

1/90 'Canada' - 'Donots' - 'Chocolate' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001280 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11460
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 223.419258
2/90 'Canada' - 'Donots' - 'Coffee' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001066 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11464
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 655.612425
3/90 'Canada' - 'Donots' - 'Cream' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000952 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11474
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 1450.294990
4/90 'Canada' - 'Donots' - 'Strawberry Jam' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000826 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11496
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 763.559118
5/90 'Canada' - 'Donots' - 'Sugar Powder' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000895 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11508
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 1199.611623
6/90 'Canada' - 'Fluffy Bounce' - 'Chocolate' processing ...
6/90 'Canada' - 'Fluffy Bounce' - 'Coffee' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000984 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 10974
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 323.811677
7/90 'Canada' - 'Fluffy Bounce' - 'Cream' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000916 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11318
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 716.215230
8/90 'Canada' - 'Fluffy Bounce' - 'Strawberry Jam' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001114 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11284
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 378.063327
9/90 'Canada' - 'Fluffy Bounce' - 'Sugar Powder' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000985 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11261
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 592.812024
10/90 'Canada' - 'Pyshka' - 'Chocolate' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001034 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 10903
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 243.734051
11/90 'Canada' - 'Pyshka' - 'Coffee' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001156 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11482
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 773.450501
12/90 'Canada' - 'Pyshka' - 'Cream' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000977 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11505
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 1713.759920
13/90 'Canada' - 'Pyshka' - 'Strawberry Jam' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000971 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11561
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 904.809218
14/90 'Canada' - 'Pyshka' - 'Sugar Powder' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001019 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11514
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 1418.996794
15/90 'Finland' - 'Donots' - 'Chocolate' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000852 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 7562
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 198.335471
16/90 'Finland' - 'Donots' - 'Coffee' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000972 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11400
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 642.069339
17/90 'Finland' - 'Donots' - 'Cream' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001013 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11467
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 1424.219639
18/90 'Finland' - 'Donots' - 'Strawberry Jam' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000966 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11515
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 751.976754
19/90 'Finland' - 'Donots' - 'Sugar Powder' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000866 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11456
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 1175.059319
20/90 'Finland' - 'Fluffy Bounce' - 'Chocolate' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000611 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 5353
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 97.711423
21/90 'Finland' - 'Fluffy Bounce' - 'Coffee' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000856 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 10649
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 317.241283
22/90 'Finland' - 'Fluffy Bounce' - 'Cream' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000914 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11261
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 703.318236
23/90 'Finland' - 'Fluffy Bounce' - 'Strawberry Jam' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001029 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11300
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 371.974749
24/90 'Finland' - 'Fluffy Bounce' - 'Sugar Powder' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000904 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11199
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 581.398798
25/90 'Finland' - 'Pyshka' - 'Chocolate' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000888 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 8339
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 234.484569
26/90 'Finland' - 'Pyshka' - 'Coffee' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000955 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11524
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 758.547094
27/90 'Finland' - 'Pyshka' - 'Cream' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000961 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11491
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 1682.818838
28/90 'Finland' - 'Pyshka' - 'Strawberry Jam' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001042 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11539
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 890.837675
29/90 'Finland' - 'Pyshka' - 'Sugar Powder' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000930 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11453
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 1387.829259
30/90 'Italy' - 'Donots' - 'Chocolate' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000713 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 6504
[LightGBM] [Info] Number of data points in the train set: 2496, number of used features: 61
[LightGBM] [Info] Start training from score 143.469952
31/90 'Italy' - 'Donots' - 'Coffee' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001145 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11347
[LightGBM] [Info] Number of data points in the train set: 2496, number of used features: 61
[LightGBM] [Info] Start training from score 465.557692
32/90 'Italy' - 'Donots' - 'Cream' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000945 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11369
[LightGBM] [Info] Number of data points in the train set: 2496, number of used features: 61
[LightGBM] [Info] Start training from score 1031.300080
33/90 'Italy' - 'Donots' - 'Strawberry Jam' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000938 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11456
[LightGBM] [Info] Number of data points in the train set: 2496, number of used features: 61
[LightGBM] [Info] Start training from score 544.416266
34/90 'Italy' - 'Donots' - 'Sugar Powder' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000835 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11376
[LightGBM] [Info] Number of data points in the train set: 2496, number of used features: 61
[LightGBM] [Info] Start training from score 851.569311
35/90 'Italy' - 'Fluffy Bounce' - 'Chocolate' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000623 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 4760
[LightGBM] [Info] Number of data points in the train set: 2496, number of used features: 61
[LightGBM] [Info] Start training from score 70.579728
36/90 'Italy' - 'Fluffy Bounce' - 'Coffee' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000959 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 8666
[LightGBM] [Info] Number of data points in the train set: 2496, number of used features: 61
[LightGBM] [Info] Start training from score 229.924279
37/90 'Italy' - 'Fluffy Bounce' - 'Cream' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001030 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11141
[LightGBM] [Info] Number of data points in the train set: 2496, number of used features: 61
[LightGBM] [Info] Start training from score 509.451122
38/90 'Italy' - 'Fluffy Bounce' - 'Strawberry Jam' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000908 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 10766
[LightGBM] [Info] Number of data points in the train set: 2496, number of used features: 61
[LightGBM] [Info] Start training from score 268.834936
39/90 'Italy' - 'Fluffy Bounce' - 'Sugar Powder' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001066 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 10934
[LightGBM] [Info] Number of data points in the train set: 2496, number of used features: 61
[LightGBM] [Info] Start training from score 421.511218
40/90 'Italy' - 'Pyshka' - 'Chocolate' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000800 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 7125
[LightGBM] [Info] Number of data points in the train set: 2496, number of used features: 61
[LightGBM] [Info] Start training from score 169.731170
41/90 'Italy' - 'Pyshka' - 'Coffee' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000911 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11409
[LightGBM] [Info] Number of data points in the train set: 2496, number of used features: 61
[LightGBM] [Info] Start training from score 550.173478
42/90 'Italy' - 'Pyshka' - 'Cream' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001018 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11473
[LightGBM] [Info] Number of data points in the train set: 2496, number of used features: 61
[LightGBM] [Info] Start training from score 1219.608974
43/90 'Italy' - 'Pyshka' - 'Strawberry Jam' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001013 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11483
[LightGBM] [Info] Number of data points in the train set: 2496, number of used features: 61
[LightGBM] [Info] Start training from score 644.127804
44/90 'Italy' - 'Pyshka' - 'Sugar Powder' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000949 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11435
[LightGBM] [Info] Number of data points in the train set: 2496, number of used features: 61
[LightGBM] [Info] Start training from score 1007.698718
45/90 'Kenya' - 'Donots' - 'Chocolate' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000912 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 11489
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 5.229682
46/90 'Kenya' - 'Donots' - 'Coffee' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000529 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 2987
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 15.619639
47/90 'Kenya' - 'Donots' - 'Cream' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000614 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 3628
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 35.227655
48/90 'Kenya' - 'Donots' - 'Strawberry Jam' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000545 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 3158
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 18.392786
49/90 'Kenya' - 'Donots' - 'Sugar Powder' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000563 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 3434
[LightGBM] [Info] Number of data points in the train set: 2495, number of used features: 61
[LightGBM] [Info] Start training from score 29.002806
50/90 'Kenya' - 'Fluffy Bounce' - 'Chocolate' processing ...
50/90 'Kenya' - 'Fluffy Bounce' - 'Coffee' processing ...
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000487 seconds.
You can set `force_col_wise=true` to remove the overhead.

   timestamp  y_test  y_pred country   store    product
0 2016-12-01     NaN   215.0  Canada  Donots  Chocolate
1 2016-12-02   212.0   221.0  Canada  Donots  Chocolate
2 2016-12-03   210.0   226.0  Canada  Donots  Chocolate
3 2016-12-04   231.0   247.0  Canada  Donots  Chocolate
4 2016-12-05     NaN   219.0  Canada  Donots  Chocolate

In [265]:
lgbm_predictions.shape

(2728, 6)

–£–≥–∞–¥–∞–π—Ç–µ, —á—Ç–æ? –û—Ç—Ä–∏—Å—É–µ–º –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è.

In [266]:
@widgets.interact(
    country=widgets.Dropdown(options=lgbm_predictions["country"].unique()),
    store=widgets.Dropdown(options=lgbm_predictions["store"].unique()),
    products=widgets.Dropdown(options=lgbm_predictions["product"].unique()),
    start_date=widgets.DatePicker(value=lgbm_predictions["timestamp"].min()),
)
def show_lgbm_predictions(country: str, store: str, products: str, start_date: date):  # noqa: D103
    start_date = pd.Timestamp(start_date)
    plot_df = lgbm_predictions[
        (lgbm_predictions["country"] == country)
        & (lgbm_predictions["store"] == store)
        & (lgbm_predictions["product"] == products)
        & (lgbm_predictions["timestamp"].dt.date >= start_date.date())
    ]

    fig, axs = plt.subplots(nrows=1, ncols=1, figsize=(15, 4))

    axs.plot(plot_df["timestamp"], plot_df["y_pred"], marker="o", label="pred")
    # —É–±–µ—Ä—ë–º –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, —á—Ç–æ–±—ã —Ç–æ—á–∫–∏ —Å–æ–µ–¥–∏–Ω–∏–ª–∏—Å—å –º–µ–∂–¥—É —Å–æ–±–æ–π - —á–∏—Å—Ç–æ –¥–ª—è –∫—Ä–∞—Å–æ—Ç—ã
    plot_df = plot_df.dropna()
    axs.plot(plot_df["timestamp"], plot_df["y_test"], marker="o", label="true")
    axs.set_xlabel("–î–∞—Ç–∞")
    axs.set_ylabel("–ö–æ–ª-–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –ø—ã—à–µ–∫")
    axs.legend()

    plt.show()

interactive(children=(Dropdown(description='country', options=('Canada', 'Finland', 'Italy', 'Kenya', 'Norway'‚Ä¶

–°–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã –≤ —Ñ–∞–π–ª.

In [267]:
pred_dpath = Path("forecast_predictions")
pred_dpath.mkdir(parents=True, exist_ok=True)

pred_fpath = pred_dpath / "lgbm_predictions.csv"
lgbm_predictions.to_csv(pred_fpath)

–£—Ä–∞! –ú–æ–¥–µ–ª–∏ –æ–±—É—á–µ–Ω—ã, —Ç–µ–ø–µ—Ä—å –æ—Å—Ç–∞–ª–æ—Å—å —Å–∞–º–æ–µ –≤–∫—É—Å–Ω–æ–µ - –ø–æ—Å—á–∏—Ç–∞—Ç—å –º–µ—Ç—Ä–∏–∫–∏, —Å—Ä–∞–≤–Ω–∏—Ç—å –º–æ–¥–µ–ª–∏ –∏ —Å–¥–µ–ª–∞—Ç—å –≤—ã–≤–æ–¥—ã. 

–≠—Ç–∏–º –∑–∞–π–º—ë–º—Å—è –≤ —Å–ª–µ–¥—É—é—â–µ–º –Ω–æ—É—Ç–±—É–∫–µ.

## –ó–∞–∫–ª—é—á–µ–Ω–∏–µ

–í —ç—Ç–æ–º –Ω–æ—É—Ç–±—É–∫–µ –≤—ã –ø–æ–∑–Ω–∞–∫–æ–º–∏–ª–∏—Å—å —Å–æ —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–æ–π –º–æ–¥–µ–ª—å—é —Å –ø–∞—Ñ–æ—Å–Ω—ã–º –Ω–∞–∑–≤–∞–Ω–∏–µ–º –•–æ–ª—å—Ç–∞-–í–∏–Ω—Ç–µ—Ä—Å–∞. 

–ü–æ—Å–º–æ—Ç—Ä–µ–ª–∏ –∫–∞–∫ –Ω–∞—Ç—è–Ω—É—Ç—å –∑–Ω–∞–∫–æ–º—ã–µ –º–æ–¥–µ–ª–∏ —Ä–µ–≥—Ä–µ—Å—Å–∏–∏ –Ω–∞ –ø—Ä–æ–≥–Ω–æ–∑–∏—Ä–æ–≤–∞–Ω–∏–µ. 

–ò –ø–æ–≥—Ä—É–∑–∏–ª–∏—Å—å –≤ —É–¥–∏–≤–∏—Ç–µ–ª—å–Ω—ã–π –º–∏—Ä –≥–µ–Ω–µ—Ä–∞—Ü–∏–∏ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤.

## –í–æ–ø—Ä–æ—Å—ã –¥–ª—è –∑–∞–∫—Ä–µ–ø–ª–µ–Ω–∏—è

1. –í —á—ë–º —Ä–∞–∑–Ω–∏—Ü–∞ –º–µ–∂–¥—É —Ç—Ä–µ–Ω–¥–æ–º –∏ —Å–µ–∑–æ–Ω–Ω–æ—Å—Ç—å—é? 
2. –ú–æ–∂–µ—Ç –ª–∏ –±—ã—Ç—å —Ç–∞–∫, —á—Ç–æ –≤ —Ä—è–¥—É –µ—Å—Ç—å —Ç—Ä–µ–Ω–¥, –Ω–æ –Ω–µ—Ç —Å–µ–∑–æ–Ω–Ω–æ—Å—Ç–∏? 
3. –ú–æ–∂–Ω–æ –ª–∏ –æ–±—É—á–∏—Ç—å —Ä–µ–≥—Ä–µ—Å—Å–∏–æ–Ω–Ω—É—é –º–æ–¥–µ–ª—å –±–µ–∑ –ª–∞–≥–Ω—É—Ç—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤? 
4. –ö–∞–∫ –æ–±—É—á–∏—Ç—å —Ä–µ–≥—Ä–µ—Å—Å–∏–æ–Ω–Ω—É—é –º–æ–¥–µ–ª—å, –µ—Å–ª–∏ –≤ –¥–∞–Ω–Ω—ã—Ö –Ω–µ—Å–∫–æ–ª—å–∫–æ –≤—Ä–µ–º–µ–Ω–Ω—ã—Ö —Ä—è–¥–æ–≤? 
5. –ß—Ç–æ –Ω—É–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å, —á—Ç–æ–±—ã –æ–±—É—á–∏—Ç—å –º–æ–¥–µ–ª—å –•–æ–ª—å—Ç–∞-–í–∏–Ω—Ç–µ—Ä—Å–∞, –µ—Å–ª–∏ –≤ –¥–∞–Ω–Ω—ã—Ö –Ω–µ—Å–∫–æ–ª—å–∫–æ –≤—Ä–µ–º–µ–Ω–Ω—ã—Ö —Ä—è–¥–æ–≤?